src/.env
dags/src/.env
dags/data/nyse_data.csv
dags/data/nasdaq_data.csv
dags/src/__pycache__/get_data.cpython-39.pyc
dags/__pycache__/dags.cpython-39.pyc
utils.ipynb
polygon_data_dag.py
.env
dags/data/btcusd_data.csv
